@font-face {
  font-family: "Exo2-Bold";
  font-display: swap;
  src: url("../fonts/Exo2-Bold.woff") format("woff"), url("../fonts/Exo2-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Exo2-Medium";
  font-display: swap;
  src: url("../fonts/Exo2-Medium.woff") format("woff"), url("../fonts/Exo2-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Exo2-Regular";
  font-display: swap;
  src: url("../fonts/Exo2-Regular.woff") format("woff"), url("../fonts/Exo2-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Russo One";
  font-display: swap;
  src: url("../fonts/RussoOne-Regular.woff") format("woff"), url("../fonts/RussoOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
  color: #000000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #181614;
}

._container {
  max-width: 1181px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 270px;
}

.btn-blue {
  background-image: url(../img/btn-blue.png);
  width: 261px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-blue p {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  text-transform: uppercase;
}

.btn-blue:hover {
  top: -5px;
  left: -5px;
}

.btn-white {
  background-image: url(../img/btn-white.png);
  width: 261px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-white p {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  text-transform: uppercase;
}

.btn-white:hover {
  top: -5px;
  left: -5px;
}

.btn-fon {
  position: absolute;
  background-image: url(../img/btn-white.png);
  width: 261px;
  height: 50px;
  z-index: 1;
  top: 8px;
  left: 8px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  background-color: #181614;
  opacity: 0.8;
  height: 110px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__btn {
  margin-top: 100px;
}

.menu__item:not(:first-child) {
  padding-left: 40px;
}

.menu__link {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.menu__link:hover {
  border-bottom: 3px solid #3B81D3;
}

.footer {
  background: url(../img/footer-bg.png) 0 0/cover no-repeat;
}

.footer_content {
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 16px;
  text-transform: uppercase;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.8;
}

.footer__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__mobile li {
  margin-top: 20px;
}

.home {
  position: relative;
  z-index: 2;
  background-image: url(../img/bg-home.png);
}

.home__container {
  padding-top: 302px;
  padding-bottom: 152px;
}

.home__text {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 56px;
  line-height: 72.8px;
  text-align: left;
  text-transform: uppercase;
}

.home__subtext {
  opacity: 0.8;
  color: #ffffff;
  font-family: "Exo2-Medium";
  font-size: 24px;
  line-height: 31.2px;
  margin-top: 30px;
}

.home__btns {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.table-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
  margin-top: 100px;
}

.table-home__1 {
  background-image: url(../img/block-home__1.png);
  width: 360px;
  height: 158px;
  padding-top: 60px;
  padding-left: 70px;
  display: inline-block;
}

.table-home__2 {
  background-image: url(../img/block-home__2.png);
  width: 376px;
  height: 158px;
  padding-top: 60px;
  padding-left: 85px;
  display: inline-block;
}

.table-home__text {
  display: inline-block;
  max-width: 280px;
  color: #ffffff;
  font-family: "Exo2-Medium";
  font-size: 16px;
  text-align: left;
}

.gameplay {
  padding-top: 120px;
  position: relative;
}

.gameplay__right-blue {
  position: absolute;
  left: -200px;
  top: -700px;
}

.gameplay__left-blue {
  position: absolute;
  top: -1200px;
  right: -200px;
}

.gameplay__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  margin-top: 30px;
}

.gameplay__left {
  max-width: 300px;
  color: #ffffff;
  font-family: "Exo2-Bold";
  font-size: 16px;
}

.gameplay__left span {
  opacity: 0.8;
  font-family: "Exo2-Regular";
}

.gameplay__right {
  color: #ffffff;
  font-family: "Exo2-Bold";
  font-size: 16px;
}

.gameplay__right span {
  opacity: 0.8;
  font-family: "Exo2-Regular";
}

.gameplay__btns {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  z-index: 1;
  position: relative;
}

.gameplay__btns img {
  max-width: 100%;
}

.table-play {
  margin-top: 44px;
  padding: 50px;
  border-radius: 12px;
  background-color: #1f1f23;
  position: relative;
}

.table-play__blue {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.table-play__paw {
  position: absolute;
  right: 10px;
  top: -60px;
}

.table-play__title {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 32px;
}

.table-play__list {
  padding-top: 30px;
}

.table-play__list li {
  background: url(../img/ice.png) left no-repeat;
}

.table-play__list li:not(:first-child) {
  margin-top: 24px;
}

.table-play__text {
  padding-left: 40px;
  color: #ffffff;
  font-family: "Exo2-Regular";
  font-size: 18px;
}

.world {
  margin-top: 120px;
  position: relative;
}

.world__left-red {
  position: absolute;
  right: -200px;
  top: -600px;
}

.world-1 {
  border-radius: 12px;
  background-color: #151413;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  position: relative;
}

.world-1__red {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.world-1__body {
  padding: 70px 45px 0px 15px;
}

.world-1__title {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 32px;
}

.world-1__text {
  margin-top: 20px;
  color: #ffffff;
  font-family: "Exo2-Regular";
  font-size: 18px;
  opacity: 0.8;
}

.world-1__text li {
  margin-top: 10px;
}

.world-2 {
  border-radius: 12px;
  background-color: #151413;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  position: relative;
  z-index: 2;
}

.world-2__red {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.world-2__body {
  padding: 70px 45px 0px 15px;
}

.world-2__title {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 32px;
}

.world-2__text {
  margin-top: 20px;
  color: #ffffff;
  font-family: "Exo2-Regular";
  font-size: 18px;
  opacity: 0.8;
}

.world-2__text li {
  margin-top: 10px;
}

.tabs {
  position: relative;
}

.tabs__left-red {
  position: absolute;
  right: -200px;
  top: -900px;
}

.tabs__right-red {
  position: absolute;
  left: -200px;
  top: -1400px;
}

.tabs__container {
  position: relative;
  z-index: 2;
}

.tabs__clan {
  margin-top: 135px;
}

.clan-tab__items {
  margin-top: 60px;
  border-radius: 12px;
  background-color: #1f1f23;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 24px 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.clan-tab__item:not(:first-child) {
  margin-left: 9px;
}

.clan-tab__item.active img {
  background-color: rgba(59, 129, 211, 0.2);
  border-radius: 12px;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.clan-body__content {
  max-width: 587px;
}

.clan-body__title {
  font-family: Russo One;
  font-size: 32px;
  color: #FFFFFF;
  position: relative;
}

.clan-body__title::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 4px;
  width: 150px;
  -webkit-box-shadow: 0 0 17px #3b81d3;
          box-shadow: 0 0 17px #3b81d3;
  background-color: #3b81d3;
}

.clan-body__text {
  margin-top: 30px;
  color: #ffffff;
  font-family: "Exo2-Regular";
  font-size: 18px;
  line-height: 25.2px;
  opacity: 0.8;
}

.clan-body__img {
  margin-top: 30px;
  margin-left: 140px;
}

.clan-body__img-mob {
  text-align: center;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-pane2 {
  display: none;
}

.tab-pane2.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calss-tab {
  margin-top: 90px;
}

.calss-tab__nav {
  margin-left: 640px;
  margin-top: 60px;
  border-radius: 12px;
  background-color: #1f1f23;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 24px 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.calss-tab__nav button {
  background-color: #1f1f23;
}

.calss-tab__item:not(:first-child) {
  margin-left: 9px;
}

.calss-tab__item.active img {
  background-color: rgba(59, 129, 211, 0.2);
  border-radius: 12px;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.class-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.class-body__content {
  max-width: 587px;
  margin-left: 140px;
}

.class-body__title {
  font-family: Russo One;
  font-size: 32px;
  color: #FFFFFF;
  position: relative;
}

.class-body__title::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 4px;
  width: 150px;
  -webkit-box-shadow: 0 0 17px #3b81d3;
          box-shadow: 0 0 17px #3b81d3;
  background-color: #3b81d3;
}

.class-body__text {
  margin-top: 30px;
  color: #ffffff;
  font-family: "Exo2-Regular";
  font-size: 18px;
  line-height: 25.2px;
  opacity: 0.8;
}

.class-body__img-mob {
  text-align: center;
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration {
  padding-top: 100px;
  position: relative;
}

.registration__right-blue {
  position: absolute;
  left: -300px;
  top: -800px;
}

.registration__name {
  text-align: center;
}

.registration__name img {
  max-width: 100%;
}

.registration__title {
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 44px;
  line-height: 57.2px;
  text-transform: uppercase;
  position: relative;
}

.registration__title::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 340px;
  -webkit-box-shadow: 0 0 17px #3b81d3;
          box-shadow: 0 0 17px #3b81d3;
  background-color: #3b81d3;
}

.registration__table {
  margin-top: 70px;
  background-color: #1f1f23;
  position: relative;
  border-radius: 12px;
}

.registration__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.registration__block {
  padding: 80px 0px 40px 0px;
}

.block-reg {
  max-width: 430px;
}

.block-reg__blue {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.block-reg__title {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 24px;
}

.block-reg__list {
  color: #ffffff;
  font-family: "Exo2-Regular";
  font-size: 18px;
}

.block-reg__list li {
  background: url(../img/ice.png) left no-repeat;
  padding-left: 40px;
  margin-top: 20px;
}

.block-reg__text {
  color: #ffffff;
  font-family: "Exo2-Regular";
  font-size: 18px;
  opacity: 0.8;
  margin-top: 20px;
}

.block-reg__btn {
  margin-top: 40px;
}

.map {
  padding-top: 175px;
}

.map__title {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 32px;
  padding-left: 130px;
  padding-top: 22px;
}

.map__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map__time {
  color: #3b81d3;
  font-family: "Russo One";
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 109px;
  margin-left: 100px;
}

.map__time li:not(:first-child) {
  margin-top: 63px;
}

.map__info {
  color: #ffffff;
  font-family: "Exo2-Medium";
  font-size: 16px;
  max-width: 513px;
  margin-top: 109px;
  margin-left: 180px;
}

.map__info li:not(:first-child) {
  margin-top: 69px;
}

.map__info li:first-child {
  margin-left: 150px;
}

.map__btn {
  margin-top: 125px;
  margin-left: 440px;
}

.soon {
  padding-top: 160px;
  padding-bottom: 60px;
  background: url(../img/soon-bg.png) center no-repeat;
}

.soon__title {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 44px;
  line-height: 57.2px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.soon__title::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 150px;
  -webkit-box-shadow: 0 0 17px #3b81d3;
          box-shadow: 0 0 17px #3b81d3;
  background-color: #3b81d3;
}

.soon__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  margin-top: 90px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 80px;
}

.table-soon {
  background: #1F1F23;
  border-radius: 12px;
  width: 360px;
  position: relative;
}

.table-soon__img img {
  max-width: 100%;
}

.table-soon__body {
  padding: 0 20px;
}

.table-soon__title {
  margin-top: 7px;
  font-family: 'Russo One';
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.table-soon__subtitle {
  margin-top: 20px;
  padding-left: 40px;
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Exo2-Regular';
  background: url(../img/ice.png) left no-repeat;
}

.table-soon__text {
  font-family: 'Russo One';
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 27px;
}

.table-soon__list {
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.8;
  font-family: 'Exo2-Regular';
  margin-top: 10px;
  padding-bottom: 60px;
}

.table-soon__list li {
  margin-top: 1px;
}

.table-soon__btn {
  position: absolute;
  bottom: -49px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #3B81D3;
  border-radius: 6px;
  font-family: Russo One;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 66px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.table-soon__btn:hover {
  bottom: -40px;
}

.question {
  padding: 120px 0 60px;
}

.question__title {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 44px;
  line-height: 57.2px;
  text-transform: uppercase;
  position: relative;
}

.question__title::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 4px;
  width: 70px;
  -webkit-box-shadow: 0 0 17px #3b81d3;
          box-shadow: 0 0 17px #3b81d3;
  background-color: #3b81d3;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.tabs-nav__item {
  border-bottom: 1px solid transparent;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 18px;
  width: 360px;
  border-radius: 12px;
  border: 2px solid #1f1f23;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 20px;
  text-transform: uppercase;
}

.tabs-nav__item:not(:first-child) {
  margin-top: 3px;
}

.tabs-nav__item.is-active {
  background-color: #1f1f23;
}

.tab {
  display: none;
  padding: 0 20px;
}

.tab.is-active {
  display: block;
}

.accordion {
  max-width: 750px;
}

.accordion-item {
  border: 2px solid #1F1F23;
  border-radius: 12px;
  position: relative;
}

.accordion-item:before {
  content: '';
  width: 20px;
  cursor: pointer;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 20px;
  top: 24px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.accordion-item:after {
  content: '';
  cursor: pointer;
  width: 20px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 20px;
  top: 24px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.accordion-item.show:after {
  content: '';
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.accordion-item:not(:first-child) {
  margin-top: 3px;
}

.accordion-item-header {
  color: #fff;
  cursor: pointer;
  font-family: "Russo One";
  font-size: 20px;
  text-transform: uppercase;
  padding: 18px;
}

.accordion-item-content {
  -webkit-transition: opacity .4s ease;
  -o-transition: opacity .4s ease;
  transition: opacity .4s ease;
  visibility: hidden;
  height: 0;
  opacity: 0;
}

.accordion-item.show .accordion-item-content {
  padding: 10px 15px;
  visibility: visible;
  height: auto;
  opacity: 1;
  opacity: 0.8;
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 16px;
  line-height: 22.4px;
}

.accordion-item.show .accordion-item-header {
  color: #fff;
}

.reviews {
  background: url(../img/command-bg.png);
  height: 867px;
}

.reviews__container {
  position: relative;
}

.reviews__title {
  padding-top: 127px;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 44px;
  line-height: 57.2px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.reviews__title::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 150px;
  -webkit-box-shadow: 0 0 17px #3b81d3;
          box-shadow: 0 0 17px #3b81d3;
  background-color: #3b81d3;
}

.reviews__swiper {
  margin-top: 80px;
  overflow: hidden;
}

.reviews__wrapper {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.reviews__img {
  position: relative;
}

.reviews__img img {
  max-width: 100%;
}

.reviews__body {
  position: absolute;
  text-align: center;
  top: 236px;
  left: 52%;
  -webkit-transform: translateX(-52%);
      -ms-transform: translateX(-52%);
          transform: translateX(-52%);
  color: #FFFFFF;
}

.reviews__body-center {
  position: absolute;
  text-align: center;
  top: 266px;
  left: 52%;
  -webkit-transform: translateX(-52%);
      -ms-transform: translateX(-52%);
          transform: translateX(-52%);
  color: #FFFFFF;
}

.reviews__spec {
  font-family: 'Exo2-Regular';
  font-size: 16px;
  line-height: 19px;
}

.reviews__name {
  font-family: 'Russo One';
  font-size: 20px;
  line-height: 24px;
}

.reviews__text {
  margin-top: 4px;
  font-family: 'Exo2-Regular';
  font-size: 18px;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 1px;
  margin-top: 100px;
}

.swiper-pagination-bullet-active {
  -webkit-box-shadow: 0px 0px 17px #FFFFFF;
          box-shadow: 0px 0px 17px #FFFFFF;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -3px;
}

.home-slider__btn-right {
  color: #400d0a;
  border: none;
  right: -24px;
}

.home-slider__btn-right:hover {
  color: #400d0a;
  border: none;
}

.home-slider__btn-left {
  color: #400d0a;
  border: none;
  background-color: #fee7d1;
  left: -24px;
}

.home-slider__btn-left:hover {
  color: #400d0a;
  border: none;
}

.sources {
  padding-top: 130px;
  padding-bottom: 50px;
}

.sources__title {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 44px;
  line-height: 57.2px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.sources__title::before {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 150px;
  -webkit-box-shadow: 0 0 17px #3b81d3;
          box-shadow: 0 0 17px #3b81d3;
  background-color: #3b81d3;
}

.sources__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 750px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  margin-top: 80px;
}

.sources__content button {
  margin-top: 20px;
}

.sources__chat {
  border-radius: 12px;
  background-color: #1f1f23;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.sources__chat:hover p {
  color: #3B81D3;
  background: url(../img/icon-tel__blue.png) left no-repeat;
}

.sources__chat p {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  background: url(../img/icon-tel.png) left no-repeat;
  padding-left: 50px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 20px;
  text-transform: uppercase;
}

.sources__chanel {
  border-radius: 12px;
  background-color: #1f1f23;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.sources__chanel:hover p {
  color: #3B81D3;
  background: url(../img/icon-tel__blue.png) left no-repeat;
}

.sources__chanel p {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  background: url(../img/icon-tel.png) left no-repeat;
  padding-left: 50px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 20px;
  text-transform: uppercase;
}

.sources__facebook {
  border-radius: 12px;
  background-color: #1f1f23;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.sources__facebook:hover p {
  color: #3B81D3;
  background: url(../img/icon-fac__blue.png) left no-repeat;
}

.sources__facebook p {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  background: url(../img/icon-fac.png) left no-repeat;
  padding-left: 50px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 20px;
  text-transform: uppercase;
}

.sources__medium {
  border-radius: 12px;
  background-color: #1f1f23;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.sources__medium:hover p {
  color: #3B81D3;
  background: url(../img/icon-med__blue.png) left no-repeat;
}

.sources__medium p {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  background: url(../img/icon-med.png) left no-repeat;
  padding-left: 50px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 20px;
  text-transform: uppercase;
}

.sources__reddit {
  border-radius: 12px;
  background-color: #1f1f23;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.sources__reddit:hover p {
  color: #3B81D3;
  background: url(../img/icon-red__blue.png) left no-repeat;
}

.sources__reddit p {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  background: url(../img/icon-red.png) left no-repeat;
  padding-left: 50px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 20px;
  text-transform: uppercase;
}

.sources__youtube {
  border-radius: 12px;
  background-color: #1f1f23;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.sources__youtube:hover p {
  color: #3B81D3;
  background: url(../img/icon-tube__blue.png) left no-repeat;
}

.sources__youtube p {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  background: url(../img/icon-tube.png) left no-repeat;
  padding-left: 50px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 20px;
  text-transform: uppercase;
}

.sources__inst {
  border-radius: 12px;
  background-color: #1f1f23;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.sources__inst:hover p {
  color: #3B81D3;
  background: url(../img/icon-inst__blue.png) left no-repeat;
}

.sources__inst p {
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  background: url(../img/icon-inst.png) left no-repeat;
  padding-left: 50px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Russo One";
  font-size: 20px;
  text-transform: uppercase;
}

.plus {
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.plus:before {
  content: '';
  width: 15px;
  height: 3px;
  border-top: 3px solid #B4B4B4;
  display: block;
  position: absolute;
  margin-top: 15px;
  margin-left: 3px;
}

.plus:before:hover {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.plus:after {
  content: '';
  width: 3px;
  height: 15px;
  border-right: 1px solid #B4B4B4;
  display: block;
  position: absolute;
  margin-top: 3px;
  margin-left: 14px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #181614;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 40;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 10px;
  overflow: scroll;
}

.popup:target {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.popup__content {
  max-width: 100%;
}

.popup__title {
  font-family: 'Russo One';
  font-size: 32px;
  color: #FFFFFF;
}

.popup__body {
  background: #1F1F23;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 570px;
  border-radius: 12px;
  top: 5vh;
  padding: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popup__form-text {
  margin-top: 10px;
  color: #ffffff;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
}

.popup__form input:not(.checkbox) {
  margin: 20px auto;
}

.popup__form {
  margin-left: 0;
}

.popup__close img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.form__text {
  font-family: 'Exo2-Regular';
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 30px;
}

.form__text span {
  opacity: 0.8;
}

.form__text a {
  color: #fff;
  text-decoration: underline;
}

.form__group {
  margin-top: 16px;
}

.form__group label {
  font-family: 'Exo2-Regular';
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.8;
}

.form__group input {
  margin-top: 10px;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  background: #1F1F23;
  height: 60px;
  font-family: Russo One;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 20px;
}

.form__radio-group {
  margin-top: 5px;
}

.form__radio-group :first-child {
  margin-top: 10px;
}

.form__radio-group input {
  width: 15px;
  height: 15px;
}

.form__radio-group label {
  margin-left: 10px;
}

.form__radio {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__radio label {
  font-family: 'Exo2-Regular';
  font-size: 18px;
  color: #FFFFFF;
}

.form__radio label:first-child {
  opacity: 0.8;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__group-message {
  margin-top: 20px;
}

.form__group-message label {
  font-family: 'Exo2-Regular';
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.8;
}

.form__group-message textarea {
  margin-top: 10px;
  width: 470px;
  max-width: 100%;
  padding-right: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  background: #1F1F23;
  height: 120px;
  font-family: Russo One;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-left: 20px;
  padding-bottom: 80px;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 40px;
}

.form__btn-white {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 222px;
}

.form__fon {
  position: absolute;
  background-image: url(../img/btn-mob__white.png);
  width: 215px;
  height: 50px;
  z-index: 1;
  top: 8px;
  left: 8px;
}

.form__white {
  background-image: url(../img/btn-mob__white.png);
  width: 215px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__white p {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  text-transform: uppercase;
}

.form__white:hover {
  top: -5px;
  left: -5px;
}

.form__btn-blue {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 222px;
}

.form__blue {
  background-image: url(../img/btn-mob__blue.png);
  width: 215px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__blue p {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 16px;
  line-height: 20.8px;
  text-align: center;
  text-transform: uppercase;
}

.form__blue:hover {
  top: -5px;
  left: -5px;
}

.title {
  color: #ffffff;
  font-family: "Russo One";
  font-size: 44px;
  line-height: 57.2px;
  text-transform: uppercase;
  position: relative;
}

.title::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 4px;
  width: 150px;
  -webkit-box-shadow: 0 0 17px #3b81d3;
          box-shadow: 0 0 17px #3b81d3;
  background-color: #3b81d3;
}

@media (min-width: 960px) {
  .menu__logo {
    display: none;
  }

  .menu__btn {
    display: none;
  }

  .footer__left li {
    margin-right: 40px;
  }

  .footer__right li {
    margin-left: 40px;
  }

  .footer__mobile {
    display: none;
  }

  .clan-body__img-mob {
    display: none;
  }

  .class-body__img-mob {
    display: none;
  }
}

@media (min-width: 1200px) {
  .map__bg {
    background: url(../img/map.png);
    width: 1030px;
    height: 985px;
    margin: 0 auto;
  }

  .popup__form {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .header {
    height: 80px;
    opacity: 1;
  }

  .header__container {
    height: 80px;
  }

  .header__btn {
    display: none;
  }

  .home__text {
    font-size: 44px;
    line-height: 57.8px;
  }

  .home__subtext {
    margin-top: 14px;
    font-size: 20px;
    line-height: 20px;
  }

  .header__btn-white {
    display: none;
  }

  .table-home__1 {
    background-image: url(../img/block-mobile__1.png);
    width: 300px;
    height: 132px;
    padding-top: 50px;
    padding-left: 55px;
  }

  .table-home__2 {
    background-image: url(../img/block-mobile__2.png);
    width: 320px;
    height: 130px;
    padding-top: 50px;
    padding-left: 75px;
  }

  .gameplay__right-blue {
    left: -400px;
  }

  .gameplay__left-blue {
    right: -400px;
  }

  .world__left-red {
    right: -400px;
  }

  .world-1__title {
    font-size: 24px;
  }

  .world-1__text {
    font-size: 16px;
    line-height: 22px;
  }

  .world-2__title {
    font-size: 24px;
  }

  .world-2__text {
    font-size: 16px;
    line-height: 22px;
  }

  .tabs__left-red {
    right: -400px;
  }

  .tabs__right-red {
    left: -400px;
  }

  .registration__right-blue {
    right: -400px;
  }

  .table-soon__text {
    text-align: center;
  }
}

@media (max-width: 960px) {
  .menu__body {
    width: 100%;
    position: fixed;
    width: 100%;
    height: 150%;
    top: 0px;
    right: -100%;
    -webkit-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    background-color: #181614;
    opacity: 200%;
    padding-left: 42px;
    z-index: 20;
    margin-top: -50px;
  }

  .menu__body::after {
    content: '';
    display: none;
    background-color: #1c242a;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
  }

  .menu__body._active {
    right: 0;
    top: 0;
  }

  .menu__list {
    margin-top: 60px;
  }

  .menu__list {
    display: inline-block;
  }

  .menu__item {
    margin-top: 40px;
  }

  .menu__item:not(:first-child) {
    padding-left: 0px;
  }

  .icon-menu {
    position: absolute;
    top: 32px;
    right: 10px;
    width: 40px;
    height: 18px;
    cursor: pointer;
    z-index: 25;
    background-color: #181614;
  }

  .icon-menu span {
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 5s;
    -moz-animation-delay: 2s;
    -moz-animation-duration: 5s;
    -ms-animation-delay: 2s;
    -ms-animation-duration: 5s;
    -o-animation-delay: 2s;
    -o-animation-duration: 5s;
    animation-delay: 2s;
    animation-duration: 5s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__left {
    display: none;
  }

  .footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__right li {
    margin-top: 20px;
  }

  .home__container {
    padding-top: 120px;
    padding-bottom: 10px;
  }

  .table-home {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .table-home__text {
    font-size: 14px;
  }

  .world-1 {
    display: inline-block;
  }

  .world-1__img {
    text-align: center;
  }

  .world-1__img img {
    max-width: 100%;
  }

  .world-1__body {
    padding: 5px 10px 15px 10px;
  }

  .world-2 {
    display: inline-block;
  }

  .world-2__img {
    text-align: center;
  }

  .world-2__img img {
    max-width: 100%;
  }

  .world-2__body {
    padding: 5px 10px 15px 10px;
  }

  .clan-tab__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .clan-tab__item:not(:first-child) {
    margin-left: 0;
  }

  .clan-body__img {
    display: none;
  }

  .calss-tab__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .class-body__content {
    margin-left: 0;
  }

  .class-body__img {
    display: none;
  }

  .registration__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .registration__block {
    padding: 20px;
  }

  .tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tabs-nav__item {
    width: 750px;
    max-width: 100%;
  }

  .tab {
    padding: 20px 0 0 0;
  }
}

@media (max-width: 800px) {
  .sources {
    padding-top: 50px;
  }

  .sources__content {
    margin-top: 40px;
  }
}

@media (max-width: 700px) {
  .home-slider__btn-right {
    right: 2px;
  }

  .home-slider__btn-left {
    left: 2px;
  }
}

@media (max-width: 640px) {
  .home {
    background: url(../img/bg-home__480.png) 0 0/cover no-repeat;
    background-size: contain;
  }

  .home__text {
    font-size: 32px;
    line-height: 41px;
  }

  .home__subtext {
    line-height: 26px;
  }

  .gameplay {
    padding-top: 50px;
  }

  .gameplay__info {
    display: inline-block;
  }

  .gameplay__right {
    margin-top: 20px;
  }

  .table-play__title {
    font-size: 24px;
  }

  .table-play__text {
    font-size: 16px;
  }

  .map__title {
    font-size: 21px;
    padding-left: 70px;
  }

  .map__time {
    font-size: 14px;
    margin-left: 32px;
    margin-top: 41px;
    white-space: nowrap;
  }

  .map__time li:not(:first-child) {
    margin-top: 27px;
  }

  .map__info {
    font-size: 12px;
    margin-left: 90px;
    margin-top: 40px;
    max-width: 266px;
  }

  .map__info li:not(:first-child) {
    margin-top: 22px;
  }

  .map__info li:first-child {
    margin-left: 60px;
  }

  .map__btn {
    margin-left: 200px;
    margin-top: 30px;
  }

  .question__title {
    font-size: 28px;
  }

  .reviews {
    height: 680px;
  }

  .reviews__title {
    padding-top: 40px;
  }

  .reviews__title {
    font-size: 28px;
  }

  .reviews__swiper {
    margin-top: 30px;
  }

  .sources__title {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .popup__body {
    padding: 15px;
  }

  .form__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__btn-blue {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .home__container {
    padding-top: 80px;
  }

  .home__text {
    font-size: 22px;
    padding-top: 80px;
    line-height: 130%;
  }

  .home__subtext {
    line-height: 130%;
  }

  .table-play {
    padding: 20px;
  }

  .table-play__blue {
    display: none;
  }

  .table-play__paw {
    right: -100px;
  }

  .table-play__title {
    font-size: 20px;
  }

  .world-1__red {
    display: none;
  }

  .world-1__title {
    font-size: 16px;
  }

  .world-2__red {
    display: none;
  }

  .world-2__title {
    font-size: 16px;
  }

  .registration__title {
    font-size: 24px;
    line-height: 28px;
  }

  .block-reg__blue {
    display: none;
  }

  .block-reg__title {
    font-size: 16px;
  }

  .map {
    padding-top: 100px;
  }

  .map__title {
    padding-left: 0px;
  }

  .map__time {
    margin-left: 0;
  }

  .map__info {
    margin-left: 25px;
  }

  .map__info li:not(:first-child) {
    margin-top: 25px;
  }

  .map__info li:first-child {
    margin-left: 0px;
  }

  .map__btn {
    display: none;
  }

  .soon {
    padding-top: 100px;
  }

  .soon__title {
    font-size: 24px;
  }

  .title {
    font-size: 24px;
  }
}

@media (max-width: 370px) {
  .reviews__body {
    top: 49%;
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    padding: 0 10px 0 40px;
  }

  .reviews__body-center {
    top: 50%;
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    padding: 0 10px 0 40px;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .home {
    background: url(../img/bg-home__tablets.png) 0 0/cover no-repeat;
    background-size: contain;
  }

  .home__container {
    padding-top: 150px;
    padding-bottom: 28px;
  }

  .home__btns {
    margin-top: 39px;
  }

  .table-home {
    margin-top: 74px;
  }

  .table-home__text {
    max-width: 220px;
    font-size: 14px;
  }

  .block-reg__title {
    font-size: 20px;
  }

  .map__bg {
    background: url(../img/map__tablets.png) center center no-repeat;
    width: 940px;
    height: 899px;
  }

  .map__time {
    margin-top: 90px;
  }

  .map__time li:not(:first-child) {
    margin-top: 56px;
  }

  .map__info {
    margin-top: 90px;
  }

  .map__info li:not(:first-child) {
    margin-top: 62px;
  }

  .table-soon__list {
    text-align: center;
  }

  .title {
    font-size: 44px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
  .home {
    background: url(../img/bg-gome__640.png) 0 0/cover no-repeat;
    background-size: contain;
  }

  .registration__title {
    font-size: 36px;
  }

  .block-reg {
    max-width: 550px;
  }

  .map__bg {
    background: url(../img/map-640.png) center center no-repeat;
    width: 640px;
    height: 613px;
  }

  .map__title {
    font-size: 26px;
    padding-top: 10px;
    padding-left: 100px;
  }

  .map__time {
    font-size: 20px;
    margin-top: 58px;
    margin-left: 40px;
    white-space: nowrap;
  }

  .map__time li:not(:first-child) {
    margin-top: 36px;
  }

  .map__info {
    margin-top: 56px;
    margin-left: 110px;
    max-width: 356px;
  }

  .map__info li:not(:first-child) {
    margin-top: 31px;
  }

  .map__info li:first-child {
    margin-left: 80px;
  }

  .map__btn {
    margin-left: 280px;
    margin-top: 60px;
  }

  .soon__title {
    font-size: 36px;
  }

  .title {
    font-size: 36px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
  .registration__title {
    font-size: 28px;
  }

  .block-reg__title {
    font-size: 18px;
  }

  .block-reg__list {
    font-size: 16px;
  }

  .block-reg__text {
    font-size: 16px;
  }

  .block-reg__btn {
    margin-top: 25px;
  }

  .map__bg {
    background: url(../img/map-480.png) center center no-repeat;
    width: 480px;
    height: 476px;
  }

  .soon__title {
    font-size: 28px;
  }

  .title {
    font-size: 28px;
  }
}

.webp .btn-blue { background-image: url(../img/btn-blue.webp); }

.webp .btn-white { background-image: url(../img/btn-white.webp); }

.webp .btn-fon { background-image: url(../img/btn-white.webp); }

.webp .footer { background: url(../img/footer-bg.webp) 0 0/cover no-repeat; }

.webp .home { background-image: url(../img/bg-home.webp); }

.webp .table-home__1 { background-image: url(../img/block-home__1.webp); }

.webp .table-home__2 { background-image: url(../img/block-home__2.webp); }

.webp .table-play__list li { background: url(../img/ice.webp) left no-repeat; }

.webp .block-reg__list li { background: url(../img/ice.webp) left no-repeat; }

.webp .soon { background: url(../img/soon-bg.webp) center no-repeat; }

.webp .table-soon__subtitle { background: url(../img/ice.webp) left no-repeat; }

.webp .reviews { background: url(../img/command-bg.webp); }

.webp .sources__chat:hover p { background: url(../img/icon-tel__blue.webp) left no-repeat; }

.webp .sources__chat p { background: url(../img/icon-tel.webp) left no-repeat; }

.webp .sources__chanel:hover p { background: url(../img/icon-tel__blue.webp) left no-repeat; }

.webp .sources__chanel p { background: url(../img/icon-tel.webp) left no-repeat; }

.webp .sources__facebook:hover p { background: url(../img/icon-fac__blue.webp) left no-repeat; }

.webp .sources__facebook p { background: url(../img/icon-fac.webp) left no-repeat; }

.webp .sources__medium:hover p { background: url(../img/icon-med__blue.webp) left no-repeat; }

.webp .sources__medium p { background: url(../img/icon-med.webp) left no-repeat; }

.webp .sources__reddit:hover p { background: url(../img/icon-red__blue.webp) left no-repeat; }

.webp .sources__reddit p { background: url(../img/icon-red.webp) left no-repeat; }

.webp .sources__youtube:hover p { background: url(../img/icon-tube__blue.webp) left no-repeat; }

.webp .sources__youtube p { background: url(../img/icon-tube.webp) left no-repeat; }

.webp .sources__inst:hover p { background: url(../img/icon-inst__blue.webp) left no-repeat; }

.webp .sources__inst p { background: url(../img/icon-inst.webp) left no-repeat; }

.webp .form__fon { background-image: url(../img/btn-mob__white.webp); }

.webp .form__white { background-image: url(../img/btn-mob__white.webp); }

.webp .form__blue { background-image: url(../img/btn-mob__blue.webp); }

@media (min-width: 1200px) {

  .webp .map__bg { background: url(../img/map.webp); }
}

@media (max-width: 1200px) {

  .webp .table-home__1 { background-image: url(../img/block-mobile__1.webp); }
}

@media (max-width: 1200px) {

  .webp .table-home__2 { background-image: url(../img/block-mobile__2.webp); }
}

@media (max-width: 640px) {

  .webp .home { background: url(../img/bg-home__480.webp) 0 0/cover no-repeat; }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {

  .webp .home { background: url(../img/bg-home__tablets.webp) 0 0/cover no-repeat; }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {

  .webp .map__bg { background: url(../img/map__tablets.webp) center center no-repeat; }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {

  .webp .home { background: url(../img/bg-gome__640.webp) 0 0/cover no-repeat; }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {

  .webp .map__bg { background: url(../img/map-640.webp) center center no-repeat; }
}

@media only screen and (min-width: 480px) and (max-width: 640px) {

  .webp .map__bg { background: url(../img/map-480.webp) center center no-repeat; }
}